{% extends 'layoutt.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
<section id="home">
    <div class="container text-center">
       <div class="row justify-content-center">
          <div class="col-md-10">
             <h1 class="text-white display-4">FASHION_MART KEEPACK</h1>
             <p class="text-white">Sistem ini dibuat khusus untuk Fashion_Mart sebagai rekapan stok barang perusahaan</p>
             <a href="#contact" class="btn btn-brand">Contact</a>
          </div>
       </div>
    </div>
 </section>
 <section id="services">
    <div class="container">
       <div class="row">
          <div class="col-12 section-intro">
             <h1>Bagaimana Mengelola Stok Barang di Gudang?</h1>
             <div class="hline"></div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-landscape'></i>
             </div>
             <h4 class="title-sm mt-4">Pengecekan</h4>
             <p>memastikan bahwa Anda selalu melakukan pengecekan barang sebelum memasukkannya ke dalam rak gudang.</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-coffee'></i>
             </div>
             <h4 class="title-sm mt-4">Kode Produk</h4>
             <p>Berikan kode pada setiap barang terlebih lagi jika Anda menyediakan banyak barang dengan bermacam warna, motif atau model.</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-image'></i>
             </div>
             <h4 class="title-sm mt-4">Catat Daftar Stok</h4>
             <p>Dalam hal mengumpulkan data, seseorang yang bertanggung jawab mencatat dapat dibantu dengan sebuah program pendukung agar pencatatan yang dihasilkan lebih akurat.</p>
          </div>
          
    </div>
 </section>

 <section id="team" class="row g-0 py-0 text-center">
    <div class="col-lg-3 col-sm-6 team-member">
       <div class="team-member-img">
          <img src="img/team-3-800x800.jpg" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">Fashion_Mart</h5>
          <small class="text-white">keepack</small>
          <div class="hline"></div>
          <p class="text-white">sistem yang mempermudah dalam manajemen stok barang</p>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
       <div class="team-member-img">
          <img src="img/team-4-800x800.jpg" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">Fashion_Mart</h5>
          <small class="text-white">keepack</small>
          <div class="hline"></div>
          <p class="text-white">sistem yang mempermudah dalam manajemen stok barang</p>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member">
       <div class="team-member-img">
          <img src="img/team-6-800x800.jpg" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">Fashion_Mart</h5>
          <small class="text-white">keepack</small>
          <div class="hline"></div>
          <p class="text-white">sistem yang mempermudah dalam manajemen stok barang</p>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
       <div class="team-member-img">
          <img src="img/team-8-800x800.jpg" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">Fashion_Mart</h5>
          <small class="text-white">keepack</small>
          <div class="hline"></div>
          <p class="text-white">sistem yang mempermudah dalam manajemen stok barang </p>
       </div>
    </div>
 </section>

 <section id="contact">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-4">
             <img src="img/cntct.jpg" alt="">
          </div>
          <div class="col-lg-6 offset-lg-1">
          </div>
       </div>
    </div>
 </section>

 <section id="cta" class="py-5">
    <div class="container py-4">
       <div class="row justify-content-center">
          <div class="col-md-6">
             <h3 class="text-white">Gudang Fashion_Mart.</h3>
          </div>
          <div class="col-auto">
             <a href="#" class="btn btn-light">Get Started</a>
          </div>
       </div>
    </div>
 </section>

 <footer>
    <div class="footer-top">
       <div class="container">
          <div class="row gy-5">
             <div class="col-md-4">
                <h4 class="logo-text">Lissome</h4>
                <p>Praesent vulputate neque nec sem fermentum porttitor. Mauris eget dolor convallis, trista, dignissim sapien. Duis vel felis dictu</p>
                <div class="social-icons">
                   <a href="#"><i class="bx bxl-facebook"></i></a>
                   <a href="#"><i class="bx bxl-twitter"></i></a>
                   <a href="#"><i class="bx bxl-instagram"></i></a>
                   <a href="#"><i class="bx bxl-github"></i></a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">Navigation</h5>
                <div class="footer-links">
                   <a href="#">Services</a>
                   <a href="#">Our Work</a>
                   <a href="#">Team</a>
                   <a href="#">Blog</a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">More</h5>
                <div class="footer-links">
                   <a href="#">FAQ's</a>
                   <a href="#">Privacy & Policy</a>
                   <a href="#">Liscences</a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">Contact</h5>
                <div class="footer-links">
                   <p class="mb">Salatiga, Jawa Tengah</p>
                   <p class="mb-">8(800)316-06-42</p>
                   <p class="mb">fashion_mart@gmail.com</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <div class="row justify-content-between gy-3">
             <div class="col-md-6">
                <p class="mb-0">© KapitaSelekta2022</p>
             </div>
             <div class="col-auto">
                <p class="mb-0">Created with ❤️ by 672019267</p>
             </div>
          </div>
       </div>
    </div>
 </footer>

{% endblock %}